@charset "UTF-8";
@import '../css/reset.min.css';
@font-face {
  font-family: "AlegreyaSans Regular";
  src: url("../fonts/alegreyasans-regular.woff2") format("woff2"), url("../fonts/alegreyasans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans Regular";
  src: url("../fonts/josefinsans-regular.woff2") format("woff2"), url("../fonts/josefinsans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans Bold";
  src: url("../fonts/josefinsans-bold.woff2") format("woff2"), url("../fonts/josefinsans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GeorgeRounded Regular";
  src: url("../fonts/georgeroundedregular.woff2") format("woff2"), url("../fonts/georgeroundedregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CedarvilleCursive Regular";
  src: url("../fonts/cedarville-cursive.woff2") format("woff2"), url("../fonts/cedarville-cursive.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  line-height: 1;
}

::selection {
  color: #fff;
  background-color: #2d635e;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: "GeorgeRounded Regular", sans-serif;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background-color: #2d635e;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.category-text {
  font-family: "CedarvilleCursive Regular", sans-serif;
  font-size: 28px;
  transform: rotate(180deg);
  color: #000;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

h1, h2 {
  font-family: "JosefinSans Bold", sans-serif;
  color: #000;
}

h1 {
  font-size: 63px;
}

h2 {
  font-size: 38px;
}

p {
  font-family: "AlegreyaSans Regular", sans-serif;
  font-size: 19px;
  color: #444a4a;
}

button {
  border: none;
  outline: none;
  background: none;
}

a, button {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover, a:hover {
  opacity: 0.75;
}

a {
  text-decoration: none;
  color: #000;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
}

.logo__img {
  display: block;
}

.nav {
  font-family: "JosefinSans Regular", sans-serif;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  text-align: justify;
  color: #000;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 90px;
}

.nav__list:last-child {
  gap: 57px;
}

.nav__item {
  flex-shrink: 0;
}

.nav__btn {
  display: flex;
  align-items: center;
  padding: 15px 26px;
  border-radius: 7px;
}

.main {
  margin-bottom: 140px;
  padding-top: 15px;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  white-space: nowrap;
  gap: 40px;
}

.main__left-description {
  font-family: "CedarvilleCursive Regular", sans-serif;
  font-size: 28px;
}

.main__left-btn {
  font-size: 20px;
  padding: 20px 70px;
}

.main__right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main__right-more-img {
  width: 159px;
  height: 157px;
}

.main__coffee-block {
  position: relative;
  width: 410px;
  height: 466px;
  background-color: #e3ebe7;
}

.main__coffee-block-img {
  position: absolute;
  top: 140px;
  left: 39px;
}

.main__follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
  gap: 15px;
}

.main__follow-icon {
  width: 32px;
  height: 32px;
}

.main__follow-text {
  font-family: "JosefinSans Regular", sans-serif;
  font-size: 28px;
  transform: rotate(180deg);
  color: #444a4a;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.about {
  margin-bottom: 90px;
  padding-top: 55px;
}

.about__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about__cup-block {
  position: relative;
  flex-shrink: 0;
  width: 380px;
  height: 287px;
  background-color: #fae9e0;
}

.about__cup-block-category {
  position: absolute;
  top: -25px;
}

.about__cup-block-img {
  position: absolute;
  top: 78px;
  left: 28px;
  width: 364.59px;
  height: 262.96px;
}

.about__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 645px;
  padding-left: 30px;
  gap: 30px;
}

.about__description {
  line-height: 1.9;
}

.promotion {
  margin-bottom: 90px;
  padding-top: 55px;
}

.promotion__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promotion__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 615px;
  padding-right: 30px;
  gap: 30px;
}

.promotion__description {
  line-height: 1.9;
}

.promotion__btn {
  font-size: 20px;
  padding: 20px 70px;
}

.promotion__cup-block {
  position: relative;
  flex-shrink: 0;
  width: 410px;
  height: 276px;
  background-color: #e3ebe7;
}

.promotion__cup-block-img {
  position: absolute;
  top: -30px;
  left: 72px;
  width: 236px;
  height: 320px;
}

.promotion__cup-block-category {
  position: absolute;
  top: -26px;
  left: 390px;
}

.shop {
  background-color: rgba(45, 99, 94, 0.05);
}

.shop__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.shop__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  user-select: none;
  gap: 20px;
  max-width: 1660px;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

.slick-prev, .slick-next {
  font-size: 0;
  flex-shrink: 0;
  width: 22px;
  height: 38px;
  background: url(../img/arrow.svg) no-repeat center;
}

.slick-next {
  transform: rotateY(180deg);
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 47px 0;
}

.shop__slider-item-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 308px;
  height: 458px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 13px 24px rgba(35, 57, 55, 0.17);
}

.shop__slider-item-title {
  font-family: "JosefinSans Bold", sans-serif;
  font-size: 28px;
  margin-top: 44px;
  text-align: center;
  color: #000;
}

.shop__slider-item-description {
  font-size: 19px;
  line-height: 1.9;
  margin: 0 60px;
  text-align: center;
  color: #444a4a;
}

.shop__slider-item-btn {
  font-size: 20px;
  margin-bottom: 47px;
  padding: 20px 70px;
}

.contacts {
  margin-bottom: 115px;
  padding-top: 130px;
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 42px;
}

.contacts__map {
  position: relative;
}

.contacts__map-img {
  width: 646px;
  height: 351px;
}

.contacts__map-category {
  position: absolute;
  top: -21px;
  left: 625px;
}

.contacts__line {
  width: 100px;
  height: 279px;
  border-top: 2px solid #444a4a;
}

.contacts__address {
  height: 351px;
}

.contacts__address-list {
  margin-top: 44px;
}

.contacts__address-item {
  font-family: "AlegreyaSans Regular", sans-serif;
  font-size: 19px;
  margin-bottom: 40px;
  margin-left: 3px;
  color: #444a4a;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

@media (max-width: 1100px) {
  .shop__slider {
    max-width: 782px;
  }
}
@media (max-width: 768px) {
  .shop__slider {
    max-width: 450px;
  }
}

/*# sourceMappingURL=index.css.map */
