@import '../css/reset.css';
@font-face {
  font-family: "AlegreyaSans Regular";
  src: url("../fonts/alegreyasans-regular.woff2") format("woff2"), url("../fonts/alegreyasans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans Regular";
  src: url("../fonts/josefinsans-regular.woff2") format("woff2"), url("../fonts/josefinsans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans Bold";
  src: url("../fonts/josefinsans-bold.woff2") format("woff2"), url("../fonts/josefinsans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GeorgeRounded Regular";
  src: url("../fonts/georgeroundedregular.woff2") format("woff2"), url("../fonts/georgeroundedregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CedarvilleCursive Regular";
  src: url("../fonts/cedarville-cursive.woff2") format("woff2"), url("../fonts/cedarville-cursive.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  line-height: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: "GeorgeRounded Regular", sans-serif;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background-color: #2d635e;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.category-text {
  font-family: "CedarvilleCursive Regular", sans-serif;
  font-size: 28px;
  transform: rotate(180deg);
  color: #000;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

h1, h2, h3 {
  font-family: "JosefinSans Bold", sans-serif;
  color: #000;
}

h1 {
  font-size: 63px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

p {
  font-family: "AlegreyaSans Regular", sans-serif;
  font-size: 19px;
  color: #444a4a;
  line-height: 1.9;
}

.header__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 115px;
}

.logo__img {
  display: block;
}

.nav {
  font-family: "JosefinSans Regular", sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-right: 57px;
  margin-left: auto;
  text-align: justify;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.nav__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 90px;
}

.header__btn {
  padding: 15px 26px;
}

.main__container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 650px;
}

.main__left, .main__right {
  height: 460px;
  margin-top: 15px;
}

.main__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 460px;
  gap: 40px;
}

.main__left-description {
  font-family: "CedarvilleCursive Regular", sans-serif;
  font-size: 28px;
}

.main__left-btn {
  font-size: 20px;
  padding: 20px 70px;
}

.main__right {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}

.main__right-more {
  width: 159px;
  height: 157px;
}

.main__coffee-block {
  position: relative;
  width: 410px;
  height: 466px;
  background-color: #e3ebe7;
}

.main__coffee-block-img {
  position: absolute;
  top: 140px;
  left: 39px;
}

.main__follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
  gap: 15px;
}

.main__follow-icon {
  width: 32px;
  height: 32px;
}

.main__follow-text {
  font-family: "JosefinSans Regular", sans-serif;
  font-size: 28px;
  transform: rotate(180deg);
  color: #444a4a;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.about {
  height: 450px;
  display: flex;
  align-items: center;
}

.about__container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  gap: 100px;
}

.about__cup-block {
  position: relative;
  width: 380px;
  height: 287px;
  background-color: #fae9e0;
}

.about__cup-block-category {
  position: absolute;
  top: -25px;
}

.about__cup-block-img {
  position: absolute;
  top: 78px;
  left: 28px;
  width: 364.59px;
  height: 262.96px;
}

.about__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 645px;
  gap: 30px;
}

/*# sourceMappingURL=index.css.map */
