@import 'style.scss';

.header {
}

.header__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 115px;
}

.logo {
}

.logo__img {
  display: block;
}

.nav {
  font-family: $JosefinSansRegular;
  font-size: 16px;
  line-height: 1;
  margin-right: 57px;
  margin-left: auto;
  text-align: justify;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

.nav__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 90px;
}

.nav__item {
}

.nav__link {
}

.header__btn {
  padding: 15px 26px;
}

.main {

}

.main__container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 650px;
}

.main__left, .main__right {
  height: 460px;
  margin-top: 15px;
}

.main__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 460px;
  gap: 40px;
}

.main__left-description {
  font-family: $CedarvilleCursiveRegular;
  font-size: 28px;
}

.main__left-title {
}

.main__left-btn {
  font-size: 20px;
  padding: 20px 70px;
}

.main__right {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}

.main__right-more {
  width: 159px;
  height: 157px;
}

.main__coffee-block {
  position: relative;
  width: 410px;
  height: 466px;
  background-color: $light-grey;
}

.main__coffee-block-img {
  position: absolute;
  top: 140px;
  left: 39px;
}

.main__follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
  gap: 15px;
}

.main__follow-icon {
  width: 32px;
  height: 32px;
}

.main__follow-text {
  font-family: $JosefinSansRegular;
  font-size: 28px;
  transform: rotate(180deg);
  color: $dark-grey;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.about {
  height: 450px;
}

.about__container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  //gap: 100px;
}

.about__cup-block {
  position: relative;
  width: 380px;
  height: 287px;
  background-color: $light-orange;
}

.about__cup-block-category {
  position: absolute;
  top: -25px;
}

.about__cup-block-img {
  position: absolute;
  top: 78px;
  left: 28px;
  width: 364.59px;
  height: 262.96px;
}

.about__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 645px;
  gap: 30px;
}

.about__title {
}

.about__description {
  line-height: 1.9;
}

.promotion {
  height: 450px;
}

.promotion__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  gap: 100px;
}

.promotion__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 615px;
  gap: 30px;
}

.promotion__title {
}

.promotion__description {
  line-height: 1.9;
}

.promotion__btn {
  font-size: 20px;
  padding: 20px 70px;
}

.promotion__cup-block {
  position: relative;
  width: 410px;
  height: 276px;
  background-color: $light-grey;
}

.promotion__cup-block-img {
  position: absolute;
  top: -30px;
  left: 72px;
  width: 236px;
  height: 320px;
}

.promotion__cup-block-category {
  position: absolute;
  top: -26px;
  left: 390px;
}