@import 'style.scss';

a {
  text-decoration: none;
  color: $black;
}

.header {
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
}

.logo {
}

.logo__img {
  display: block;
}

.nav {
  font-family: $JosefinSansRegular;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  text-align: justify;
  color: $black;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 90px;
}

.nav__list:last-child {
  gap: 57px;
}

.nav__item {
  flex-shrink: 0;
}

.nav__link {
}

.nav__btn {
  display: flex;
  align-items: center;
  padding: 15px 26px;
  border-radius: 7px;
}

.main {
  margin-bottom: 140px;
  padding-top: 15px;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  white-space: nowrap;
  gap: 40px;
}

.main__left-description {
  font-family: $CedarvilleCursiveRegular;
  font-size: 28px;
}

.main__left-title {
}

.main__left-btn {
  font-size: 20px;
  padding: 20px 70px;
}

.main__right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main__right-more-link {
}

.main__right-more-img {
  width: 159px;
  height: 157px;
}

.main__coffee-block {
  position: relative;
  width: 410px;
  height: 466px;
  background-color: $light-grey;
}

.main__coffee-block-img {
  position: absolute;
  top: 140px;
  left: 39px;
}

.main__follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
  gap: 15px;
}

.main__follow-link {
}

.main__follow-icon {
  width: 32px;
  height: 32px;
}

.main__follow-text {
  font-family: $JosefinSansRegular;
  font-size: 28px;
  transform: rotate(180deg);
  color: $dark-grey;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.about {
  margin-bottom: 90px;
  padding-top: 55px;
}

.about__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about__cup-block {
  position: relative;
  flex-shrink: 0;
  width: 380px;
  height: 287px;
  background-color: $light-orange;
}

.about__cup-block-category {
  position: absolute;
  top: -25px;
}

.about__cup-block-img {
  position: absolute;
  top: 78px;
  left: 28px;
  width: 364.59px;
  height: 262.96px;
}

.about__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 645px;
  padding-left: 30px;
  gap: 30px;
}

.about__title {
}

.about__description {
  line-height: 1.9;
}

.promotion {
  margin-bottom: 90px;
  padding-top: 55px;
}

.promotion__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promotion__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 615px;
  padding-right: 30px;
  gap: 30px;
}

.promotion__title {
}

.promotion__description {
  line-height: 1.9;
}

.promotion__btn {
  font-size: 20px;
  padding: 20px 70px;
}

.promotion__cup-block {
  position: relative;
  flex-shrink: 0;
  width: 410px;
  height: 276px;
  background-color: $light-grey;
}

.promotion__cup-block-img {
  position: absolute;
  top: -30px;
  left: 72px;
  width: 236px;
  height: 320px;
}

.promotion__cup-block-category {
  position: absolute;
  top: -26px;
  left: 390px;
}

.shop {
  background-color: $light-green;
}

.shop__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.shop__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  user-select: none;
  gap: 20px;

}

.shop__slider-item {
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

.slick-prev, .slick-next {
  font-size: 0;
  flex-shrink: 0;
  width: 22px;
  height: 38px;
  background: url(../img/arrow.svg) no-repeat center;
}

.slick-prev {

}

.slick-next {
  transform: rotateY(180deg);
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 47px 0;
}

.shop__slider-item-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 308px;
  height: 458px;
  border-radius: 25px;
  background-color: $white;
  box-shadow: 0 13px 24px rgba(35, 57, 55, 0.17);
}

.shop__slider-item-title {
  font-family: $JosefinSansBold;
  font-size: 28px;
  margin-top: 44px;
  text-align: center;
  color: $black;
}

.shop__slider-item-description {
  font-size: 19px;
  line-height: 1.9;
  margin: 0 60px;
  text-align: center;
  color: $dark-grey;
}

.shop__slider-item-btn {
  font-size: 20px;
  margin-bottom: 47px;
  padding: 20px 70px;
}

.contacts {
  margin-bottom: 115px;
  padding-top: 130px;
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 42px;
}

.contacts__map {
  position: relative;
}

.contacts__map-img {
  width: 646px;
  height: 351px;
}

.contacts__map-category {
  position: absolute;
  top: -21px;
  left: 625px;
}

.contacts__line {
  width: 100px;
  height: 279px;
  border-top: 2px solid $dark-grey;
}

.contacts__address {
  height: 351px;
}

.contacts__address-title {
}

.contacts__address-list {
  margin-top: 44px;
}

.contacts__address-item {
  font-family: $AlegreyaSansRegular;
  font-size: 19px;
  margin-bottom: 40px;
  margin-left: 3px;
  color: $dark-grey;
}

.footer {
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.footer__text {
}

@media (max-width: 1024px) {
  
}