@import '../css/reset.min.css';

@font-face {
  font-family: 'AlegreyaSans Regular';
  src: url('../fonts/alegreyasans-regular.woff2') format('woff2'),
  url('../fonts/alegreyasans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans Regular';
  src: url('../fonts/josefinsans-regular.woff2') format('woff2'),
  url('../fonts/josefinsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans Bold';
  src: url('../fonts/josefinsans-bold.woff2') format('woff2'),
  url('../fonts/josefinsans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GeorgeRounded Regular';
  src: url('../fonts/georgeroundedregular.woff2') format('woff2'),
  url('../fonts/georgeroundedregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CedarvilleCursive Regular';
  src: url('../fonts/cedarville-cursive.woff2') format('woff2'),
  url('../fonts/cedarville-cursive.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$green: #2d635e;
$light-green: rgba(45, 99, 94, 5%);
$light-orange: #fae9e0;
$white: #fff;
$light-grey: #e3ebe7;
$dark-grey: #444a4a;
$black: #000;

$AlegreyaSansRegular: 'AlegreyaSans Regular', sans-serif;
$JosefinSansRegular: 'JosefinSans Regular', sans-serif;
$JosefinSansBold: 'JosefinSans Bold', sans-serif;
$GeorgeRoundedRegular: 'GeorgeRounded Regular', sans-serif;
$CedarvilleCursiveRegular: 'CedarvilleCursive Regular', sans-serif;

* {
  line-height: 1;
}

::selection {
  color: $white;
  background-color: $green;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: $GeorgeRoundedRegular;
  display: inline-block;
  color: $white;
  border-radius: 5px;
  background-color: $green;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.category-text {
  font-family: $CedarvilleCursiveRegular;
  font-size: 28px;
  transform: rotate(180deg);
  color: $black;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

h1, h2 {
  font-family: $JosefinSansBold;
  color: $black;
}

h1 {
  font-size: 63px;
}

h2 {
  font-size: 38px;
}

p {
  font-family: $AlegreyaSansRegular;
  font-size: 19px;
  color: $dark-grey;
}

button {
  border: none;
  outline: none;
  background: none;
}

a, button {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover, a:hover {
  opacity: 0.75;
}