@charset "UTF-8";
@import '../css/reset.min.css';
@font-face {
  font-family: "AlegreyaSans Regular";
  src: url("../fonts/alegreyasans-regular.woff2") format("woff2"), url("../fonts/alegreyasans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans Regular";
  src: url("../fonts/josefinsans-regular.woff2") format("woff2"), url("../fonts/josefinsans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans Bold";
  src: url("../fonts/josefinsans-bold.woff2") format("woff2"), url("../fonts/josefinsans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GeorgeRounded Regular";
  src: url("../fonts/georgeroundedregular.woff2") format("woff2"), url("../fonts/georgeroundedregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CedarvilleCursive Regular";
  src: url("../fonts/cedarville-cursive.woff2") format("woff2"), url("../fonts/cedarville-cursive.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  line-height: 1;
}

::selection {
  color: #fff;
  background-color: #2d635e;
}

/* Работает в Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(68, 74, 74, 0.225) transparent;
}

/* Работает в Chrome, Edge и Safari */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(68, 74, 74, 0.225);
  border-radius: 15px 0 0 15px;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: "GeorgeRounded Regular", sans-serif;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background-color: #2d635e;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.category-text {
  font-family: "CedarvilleCursive Regular", sans-serif;
  font-size: 28px;
  transform: rotate(180deg);
  color: #000;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

h1, h2, h3 {
  font-family: "JosefinSans Bold", sans-serif;
  color: #000;
}

h1 {
  font-size: 63px;
}

h2 {
  font-size: 38px;
}

p {
  font-family: "AlegreyaSans Regular", sans-serif;
  font-size: 19px;
  color: #444a4a;
}

button {
  border: none;
  outline: none;
  background: none;
}

a, button {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover, a:hover {
  opacity: 0.75;
}

button:focus-visible, a:focus-visible {
  outline: #444a4a 3px solid;
  outline-offset: -3px;
}

body {
  background-color: rgba(45, 99, 94, 0.05);
}

.header {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(35, 57, 55, 0.17);
}

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header__title {
  margin-top: 3px;
}

.header__empty,
.header__back-btn {
  width: 28px;
  height: 28px;
}

.header__back-btn {
  background-image: url("../img/CloseIcon.svg");
  background-size: cover;
}

.main {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.form__information {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.form__title {
  font-size: 28px;
  text-align: center;
  width: 100%;
}

.form__contact,
.form__order {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.form__block {
  width: 100%;
}

.form__label {
  width: 100%;
  font-family: "AlegreyaSans Regular", sans-serif;
  font-size: 15px;
  color: #444a4a;
}

.form__block-input,
.form__select {
  margin-top: 3px;
  width: 100%;
  height: 47px;
  box-shadow: 0 1px 4px rgba(35, 57, 55, 0.17);
  border-radius: 5px;
  background-color: #fff;
  font-family: "JosefinSans Regular", sans-serif;
  font-size: 19px;
  color: #000;
  padding: 0 10px;
}

.form__block-input::placeholder {
  color: #e3ebe7;
}

.form__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form__select::-ms-expand {
  display: none;
}

.form__select:not([multiple]) {
  padding-right: 32px;
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) 50%;
  background-size: 10px;
  background-image: url("../img/DropDownArrow.svg");
}

.form__select-option,
.form__select-option--default {
  width: 100%;
  border-radius: 5px;
}

.form__btn {
  font-family: "JosefinSans Regular", sans-serif;
  padding: 15px 60px;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .form__information {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .form {
    margin: 70px 0;
  }
  .form__contact,
  .form__order {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .form__contact,
  .form__order {
    width: 350px;
  }
}

/*# sourceMappingURL=order.css.map */
